*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
header{
    background-image: url(background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: azure;
    height: 60px;
    width: 100%;
    margin: 0px;
    padding: 0px;

}
header ul li {
 list-style: none;
 float: right;
    padding: 0px 5px;
    margin: 15px;
    font-size: 20px;
    display: block;
    text-align:center;
}
header ul li a {
    text-decoration: none;
    color:wheat;
}
header .title{
    font-size: 40px;
    margin: 15px
}
header ul li .active {
    background-color: white;
    color:darkblue;
    padding: 20px;
}
.section {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.section .title1{
    padding: 50px;
    font-size: 20px;
}
.section .title2{
    padding: 40px;
    font-size: 80px;
    font-weight: bold;
}
.section .title3{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}
.But1,.But2{
    padding: 30px 60px;
    display: inline;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin: 30px;
}
.But1{
    background-color:#9c27b0;
    border-color: #9c27b0;
    color:white
}
.But2{
    background-color:white;
    border-color:white;
    color:#9c27b0
}
.section2{
    margin-top: 50px;
}
.walo{
    display: inline-block;
    width: 23%;
    margin: 5px;
    box-shadow: 5px 5px 18px #888888;
}
.walo img{
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
     transition: transform 1s;
}
.walo .title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    font-family: cursive;
}
.walo .text{
    text-align: center;
    margin-bottom: 40px;
}
.walo img:hover{
    transform: rotate(720deg);
}
.AboutUs{
    margin-top: 200px;
    background-color:rgb(251, 254, 255) ;
    padding: 100px 0px;
}
.AboutUs .tt {
    width :65%;
    float: left;
}
.AboutUs .tt {
    font-size: 30px;
    color:grey;
}
.AboutUs .tt span {
    font-family: cursive;
    font-size: 70px;
}
.section3 img{
    z-index: -1;
}
.section3 .text {
    z-index: 1;
    background-color: purple;
    opacity: .5;
    border-top: black solid 10px ;
    border-bottom: black solid 10px;
    
}